/* styles/topNotch.module.css */
.topNotch {
    display: flex;
    margin: 15px 0px 6px 9px;
    border-radius: 30px;
    position: absolute;
    width: 94%;
    justify-content: space-between;
    padding: 0px 4px;
}

.alertSection img {
    width: 22.76px;
    height: 30px;
}

.darkModeSwitch {
    margin: 3px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
}

.darkModeSwitch input {
    width: 60px;
    height: 24px;
    position: absolute;
    z-index: 22;
    opacity: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transition: 0.4s;
}

.slider:before {
    content: "";
    height: 18px;
    width: 24px;
    position: absolute;
    left: 4px;
    bottom: 3px;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('https://i.ibb.co/FxzBYR9/night.png');
    background-repeat: no-repeat;
    background-position: center;
}

.darkModeSwitch input:checked+.slider {
    background-color: #2196f3;
}

.darkModeSwitch input:focus+.slider {
    box-shadow: 0 0 1px #2196f3;
}

.darkModeSwitch input:checked+.slider:before {
    transform: translateX(24px);
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}